<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<div class="caption">
			<p><b>By</b> <%=position.get_name(@index)%></p>
			<p><%=simple_format(position.body)%></p>
		</div>
		<div class="caption footer">
			<p>
				<span>
				 <%=votable_tag(position)%>
				 <%if owns?(position)||owns?(@discussion)%>
				 	| <%= link_to 'Delete', position, method: :delete, data: { confirm: 'Are you sure?' } %>
				 <%end%>
				</span>
			</p>
		</div>
	</div>
</div>
<%@index+=1%>