<hr>
<h3><%=span "", class:"glyphicon glyphicon-warning-sign"%> <%=span "Remember!"%></h3>
<b>Remember before publishing that no modifications can be made to the discussion or the positions afterwards</b>
<br>
<br>
<%= link_to "PUBLISH", publish_discussion_path(discussion), class:"btn btn-success center"%>