<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
<% if @user&&@user.errors.any? then%>
	<%@user.errors.full_messages.each do |error|%>
	  <div class="alert <%= bootstrap_class_for("error") %> fade in">
	    <button class="close" data-dismiss="alert">×</button>
	    <%= error %>
	  </div>
	<%end%>
<% end %>
