<p>
	<strong>First name:</strong>
	<%= @requested_user.first_name %>
</p>

<p>
	<strong>Last name:</strong>
	<%= @requested_user.last_name %>
</p>

<%= link_to "Discussions", [@requested_user, Discussion] %>
<br>
<%= #link_to "Positions", [@requested_user, Position]
%>
