.article{
  margin: auto;
  padding:20px;
  max-width:800px;
  .header{
    ul{
      
    }
    li{
      display:inline-block;
      &:before{
        content: '\00a0\2022\00a0\00a0';
        color:#999;
        font-size:15px;
      }
      &:first-child{
        &:before{
          /*content: ''; no first-child*/
        }
      }
      /*fix*/
    }
  }
   .content{
    padding:10px;
  }
  .footer{
    padding:10px;
    border-top:solid rgb(100,100,100) 1px;
  }
}
