.glow {
  display: inline-block;
  &.good {
    $good_color: #5cb85c; /*From btn-success */
    /*up*/
    .btn {
      box-shadow: 0px 0px 40px 5px rgba($good_color, 0.7);
      &.btn-xs {
        box-shadow: 0px 0px 15px 5px rgba(#5cb85c, 0.7);
      }
    }
  }
  &.bad {
    $bad_color: #d9534f; /*From btn-danger */
    /*down*/
    .btn {
      box-shadow: 0px 0px 40px 5px rgba($bad_color, 0.7);
     &.btn-xs {
        box-shadow: 0px 0px 15px 5px rgba($bad_color, 0.7);
      }
    }
  }
}

.glow .btn-xs{

}
.votable {
  display:inline-block;
}
