.glow {
  display:inline-block;
  &.good{
    /*up*/
   background-color: rgb(0,255,0);
   box-shadow: 0px 0px 40px 5px rgba(0,255,0,0.7);
   
  }
  &.bad{
    /*down*/
   background-color: rgb(255,0,0);
   box-shadow: 0px 0px 40px 5px rgba(255,0,0,0.7);
  }
}
.votable {
  display:inline-block;
}
