<div class="page-header">
	<h1>Discussions</h1>
</div>
<div class="body">
	<%@discussions.each do |discussion|%>
      <%=render partial:'partials/row', locals: {extra_class: "discussion-home", row: discussion}%>
	<%end%>
</div>
</div>